---
layout: default
---

<div class="message" style="margin-top:-3.0em">
  <h2>Welcome to Wired In</h2>
  <p>We are building a modern productivity tool for iOS, OS X, and your desk. We thought it'd be fun to share our journey building apps and a hardware product.</p>
  <p>Check out our <a href="{{ site.url }}/hardware/">Hardware Series</a>, which covers our adventure designing, prototyping, and shipping a hardware product.</p>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

	{% if post.Category == 'Hardware' %}
	  <span class="post-date">{{ post.date | date_to_string }} - <a href="{{ site.url }}/hardware/">The Hardware Series</a></span>
     <span class="post-author"><a href="http://twitter.com/{{ post.author_twitter }}">{{ post.author }}</a></span>
	{% else if post.Category == 'Interviews' %}
	  <span class="post-date">{{ post.date | date_to_string }} - <a href="{{ site.url }}/hardware/">The Interview Series</a></span>
     <span class="post-author"><a href="http://twitter.com/{{ post.author_twitter }}">{{ post.author }}</a></span>
	{% else if post.Category == 'News' %}
	  <span class="post-date">{{ post.date | date_to_string }} - <a href="{{ site.url }}/hardware/">News</a></span>	
      <span class="post-author"><a href="http://twitter.com/{{ post.author_twitter }}">{{ post.author }}</a></span>
	{% endif %}

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>