---
layout: default
---

<div class="message" style="margin-top:-3.0em">
  <h2>We Are Wired In</h2>
  <p>We are building a modern productivity tool for iOS, OS X, and your desk. We thought it'd be fun to share our journey building apps and a hardware product.</p>
  <p>In <a href="{{ site.url }}/interviews/">the Interview Series</a>, we feature designers, developers, and entrepreneurs building the next big thing. Working on something cool? <a href="mailto:caleb@wearewired.in">Drop us a line.</a></p>
</div>

<div class="posts">
  {% for post in site.posts %}
  {% if post.Category == 'Interviews' %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }} - <a href="{{ site.url }}/interviews/">The Interview Series</a></span>

    {{ post.content }}
  </div>
  {% endif %}
  {% endfor %}
</div>