<div class="signup-inline">
  <div id="mc_embed_signup2">
    <form id="mc-form" class="validate form-inline signup">
      <div class="mc-field-group form-group">
        <input type="email" value="" name="EMAIL" class="required email form-control" placeholder="hello@wearewired.in" id="mce-EMAIL">
        <button type="submit" class="btn btn-theme-inline ladda-button" data-style="expand-left"><span class="ladda-label">Get Notified</span></button>
      </div>              
    </form>
  </div>
  <h3 class="heading" id="signupHeader2" style="color: #666;"></h3>
  <p id="signupLead2" style="color: #666;"></p>
</div>