<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
<header class="site-head" {% if site.data.blog.cover %}style="background-image: url({{site.url}}{{site.data.blog.cover}})"{% endif %}>
    <div class="vertical">
        <div class="site-head-content" class="inner">
        	<div class="blog-logo">
            {% if site.data.blog.logo %}<a href="http://wearewired.in"><img src="{{site.url}}{{site.data.blog.logo}}" alt="Wired In Icon" />{% endif %}</a>
            <h2 class="blog-description">{{site.description}}</h2>
            </div>
        </div>
    </div>
</header>

      <div class="container content">
        {{ content }}
      </div>
      
      <footer class="site-footer">
      <div class="full-footer">
        <div class="footer-nav">
                <a href="http://wearewired.in">Home</a>
                <a href="http://blog.wearewired.in">Blog</a>
                <a href="http://blog.wearewired.in/hardware">The Hardware Series</a>
        </div>
        <div class="inner">
           <a class="subscribe icon-twitter" href="http://twitter.com/wearewiredin"></a>  
           <a class="subscribe icon-feed" href="{{site.url}}/feed.xml"></a>
        </div>        
        <div class="signup">
        <div id="mc_embed_signup">
			<form id="mc-form" class="validate form-inline signup">
				<div class="mc-field-group form-group">
					<input type="email" value="" name="EMAIL" class="required email form-control" placeholder="hello@wearewired.in" id="mce-EMAIL">
					<button type="submit" class="btn btn-theme ladda-button" data-style="expand-left"><span class="ladda-label">Get Notified</span></button>
				</div>							
			</form>
		</div>
		</div>
	</div>
    </footer>

    <script type="text/javascript" src="{{site.url}}/public/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{site.url}}/public/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="{{site.url}}/public/js/index.js"></script>
	<script src="{{site.url}}/public/js/jquery.ajaxchimp.min.js"></script>

		<script>
		
			function callbackFunction (resp) {
			    if (resp.result === 'success') {
					console.log('success', resp);				
			    } else {
                        form-control.removeClass('valid').addClass('error');
                        var index = -1;
                        try {
                            var parts = resp.msg.split(' - ', 2);
                            if (parts[1] === undefined) {
                                msg = resp.msg;
                            } else {
                                var i = parseInt(parts[0], 10);
                                if (i.toString() === parts[0]) {
                                    index = parts[0];
                                    msg = parts[1];
                                } else {
                                    index = -1;
                                    msg = resp.msg;
                                }
                            }
                        }
                        catch (e) {
                            index = -1;
                            msg = resp.msg;
                        }
					}
			}

		</script>	


		<script>
			$('#mc-form').ajaxChimp({
				language: 'en',
		 		callback: callbackFunction,
		 		url: 'https://wearewired.us8.list-manage.com/subscribe/post?u=07093f2da36c576e0360bae19&amp;id=8a56dad6af' 
			});
		</script>

  </body>
</html>
