---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
	{% if page.Category == 'Hardware' %}
      <span class="post-date">{{ page.date | date_to_string }} - <a href="{{ site.url }}/hardware/">The Hardware Series</a></span>
	{% else if page.Category == 'Interviews' %}
	  <span class="post-date">{{ page.date | date_to_string }} - <a href="{{ site.url }}/hardware/">The Interview Series</a></span>
	{% else if page.Category == 'News' %}
	  <span class="post-date">{{ page.date | date_to_string }} - <a href="{{ site.url }}/hardware/">News</a></span>	
	{% endif %}

      <span class="post-author"><a href="http://twitter.com/{{ page.author_twitter }}">{{ page.author }}</a></span>

  {{ content }}
</div>

<div class="message">
  <h2>Stay Tuned</h2>
  <p>Thanks for reading. We've got more where this came from! <a href="http://wearewired.in">Subscribe by email</a> to get updates on Wired In. No spam. No more than once a week. Our <a href="http://wearewired.in">email subscribers</a> will get first crack at contests, giveaways, and discounts on our Wired In signs and apps.</p>

  {% include mailchimp.html %}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
